@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    font-family: "Poppins", sans-serif;
  }
  *:focus {
    @apply outline-8 rounded-xl outline-orange-500;
  }
  .glass {
    @apply bg-opacity-50 border border-neutral-100 bg-black p-3 rounded-xl flex border-opacity-20 backdrop-blur-sm;
  }
  select {
    @apply bg-transparent flex-shrink-0;
  }
  body {
    @apply bg-neutral-900;
  }
  input[type=submit] {
    @apply cursor-pointer
  }
  input::placeholder {
    @apply text-neutral-400;
  }
  input:focus::placeholder {
    @apply text-neutral-300;
  }
  form:invalid #add-button {
    @apply bg-red-700 hover:bg-red-500
  }
  fieldset {
    @apply min-w-0
  }
  .card {
    @apply flex-col items-center justify-center gap-3  hover:bg-neutral-700 hover:bg-opacity-50 transition-transform glass;
  }
  .scaring {
    animation: scaring .4s ease-in-out infinite alternate;
  }
  .loading {
    animation: loading 3s ease-in-out infinite;
  }
  .container {
    @apply max-w-screen-lg w-full p-3 text-white bg-opacity-50 glass;
  }
  .edit-button {
    @apply w-7 h-7 glass p-0 justify-center items-center flex-1 rounded-none;
  }
  .selected {
    @apply bg-sky-500 bg-opacity-20
  }
  label {
    @apply cursor-pointer
  }
  #splash-text {
    text-shadow: 0 0 0.4rem black, 0 0 0.1rem black;
    font-family: "Dancing Script", cursive;
    text-wrap: balance;
    @apply max-w-screen-lg text-center text-white text-5xl leading-tight drop-shadow-2xl shadow-black font-bold;
  }
  @keyframes scaring {
    0%  { rotate:  1deg; }
    100%  { rotate: -1deg; }
  }
  @keyframes loading {
    from { rotate: 0deg; }
    to { rotate: 360deg; }
  }
}
